<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                        <li>
                            <a href="metrics.html"><i class="fa fa-tint fa-fw" aria-hidden="true"></i> Metrics</a>
                        </li>
                        <li>
                            <a href="setup.html"><i class="fa fa-edit fa-fw"></i> Setup</a>
                        </li>
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

		
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Forms</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <form>
            <div class="form-group">
                <label for="locationInput">Location</label>
                <input type="location" class="form-control" id="locationInput" aria-describedby="emailHelp" placeholder="eg. (nome,ak)">
                <small id="locationHelp" class="form-text text-muted">We need the location to query the weather data</small>
            </div>
            <div class="crops text-center">
            	<input type="text" class="form-control" id="cropName" placeholder="Crop Name">
            	<br>
            	<div class="input-group">  
				  <input type="text" class="form-control" placeholder="Amount of water needed">
				  <span class="input-group-addon">Liters</span>
				</div>
				<br>
				<div class="input-group">
		      <span class="input-group-addon">
		        <input type="checkbox" aria-label="Checkbox for following text input"> Auto Watering
		      </span>
		      <span class="input-group-addon">Time:</span>
		      <input type="text" class="form-control" aria-label="Text input with checkbox">
		    </div>
		    <br>
 				<button class="btn btn-default btn-add" onclick="addCrop()"><i class="fa fa-plus fa-3" aria-hidden="true"></i> Add a crop</button>
            </div>         
           <!--  // Template for a crop object
			// {"name": "name",
			// 	"water": "number of liters",
			// 	"area": "area of fields",
			// 	"auto watering": True/False,
			// 	"watering time": "time of day"
			// 	} -->
            <button type="submit" class="btn btn-primary text-center">Save</button>           
        </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
